BugsBox.Pharmacy.AppClient.ServicesProvider/Service References/NS/PharmacyNotification2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BugsBox.Pharmacy.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BugsBox.Pharmacy.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5570/PharmacyNotification?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UpdateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="StoreId" type="ser:guid" />
          <xs:element minOccurs="0" name="EmployeeId" type="ser:guid" />
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="RoleWithUser" nillable="true" type="tns:ArrayOfRoleWithUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pinyin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdentityNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WorkTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Specility" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployStatusValue" type="xs:int" />
          <xs:element minOccurs="0" name="PharmacistsTitleTypeValue" type="xs:int" />
          <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PharmacistsQualificationValue" type="xs:int" />
          <xs:element minOccurs="0" name="CreateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UpdateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StoreId" type="ser:guid" />
          <xs:element minOccurs="0" name="DepartmentId" type="ser:guid" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Department">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Decription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="StoreId" type="ser:guid" />
          <xs:element minOccurs="0" name="DepartmentId" type="ser:guid" />
          <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployee" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfRoleWithUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleWithUser" nillable="true" type="tns:RoleWithUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleWithUser" nillable="true" type="tns:ArrayOfRoleWithUser" />
  <xs:complexType name="RoleWithUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="StoreId" type="ser:guid" />
          <xs:element minOccurs="0" name="CreateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UpdateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleWithUser" nillable="true" type="tns:RoleWithUser" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UpdateUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StoreId" type="ser:guid" />
          <xs:element minOccurs="0" name="RoleWithUsers" nillable="true" type="tns:ArrayOfRoleWithUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
</xs:schema>