BugsBox.Pharmacy.AppClient.ServicesProvider/Service References/NS/PharmacyNotification1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.bugsbox.bugsbox/PharmacyNotification" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PharmacyNotification" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPharmacyNotification_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.bugsbox.bugsbox/PharmacyNotification" location="http://localhost:5570/PharmacyNotification?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IPharmacyNotification" type="i0:IPharmacyNotification">
    <wsp:PolicyReference URI="#NetTcpBinding_IPharmacyNotification_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClientNotification">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/RegisterClientNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CloseClientNotification">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/CloseClientNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/test" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserOnLine">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/UserOnLine" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/SayHello" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleAuthorityChanged">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/RoleAuthorityChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrugLock">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/DrugLock" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplyUnitLock">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/SupplyUnitLock" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseUnitLock">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/PurchaseUnitLock" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedApproval">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/NeedApproval" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedDrugMaintain">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/NeedDrugMaintain" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedHandledDoubtDrug">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/NeedHandledDoubtDrug" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedHandleSale">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/NeedHandleSale" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedHandlePurchase">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/NeedHandlePurchase" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrugOutofStock">
      <soap12:operation soapAction="http://www.bugsbox.bugsbox/PharmacyNotification/IPharmacyNotification/DrugOutofStock" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PharmacyNotification">
    <wsdl:port name="NetTcpBinding_IPharmacyNotification" binding="tns:NetTcpBinding_IPharmacyNotification">
      <soap12:address location="net.tcp://localhost:5571/PharmacyNotificationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5571/PharmacyNotificationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>