delivery/BugsBox.Pharmacy.AppClient.ServicesProvider/Service References/NS/PharmacyNotification3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BugsBox.Pharmacy.Business.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BugsBox.Pharmacy.Business.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWarningData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarningData" nillable="true" type="tns:WarningData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarningData" nillable="true" type="tns:ArrayOfWarningData" />
  <xs:complexType name="WarningData">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarningData" nillable="true" type="tns:WarningData" />
</xs:schema>