BugsBox.Pharmacy.AppClient.ServicesProvider/Service References/PS/PharmacyService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BugsBox.Pharmacy.Business.Models.QueryModelExtesion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BugsBox.Pharmacy.Business.Models.QueryModelExtesion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DateTimeRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="Max" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Min" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QueryMax" type="xs:boolean" />
      <xs:element minOccurs="0" name="QueryMin" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTimeRange" nillable="true" type="tns:DateTimeRange" />
  <xs:complexType name="BooleanExp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BooleanExp" nillable="true" type="tns:BooleanExp" />
</xs:schema>